<html>
  <head>
    <link rel="stylesheet" href="./css/s.css" />
  </head>

  <body>
    
   {{>header}}
   <div class='container'>
    <img class='portrait'src="img/IMG20200102132000.jpg  "  align: left;
    />
    <div class='known'>I am Sourav Singh, a full stack developer from India. 

I am very enthusiastic of competitive coding in any programming language be it C, C++, Java or Python. I love converting complex logic problems into beautiful, easy and efficient code whether using HTML, CSS or JQuery. Diving into the backend development I love to code in mongodb, react express and nodejs. With these two in hand I can design any website or application very smoothly. <br>

If not coding I can be found enjoying complex mathematical problems or on the ground playing football, cricket, volleyball.</div>
</div>
  {{>footer}}
  </body>
</html>